@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; /* Change to Open Sans */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; /* Change to Open Sans */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", Courier, monospace; /* Code font can remain unchanged or can be updated */
}
